<footer>
    <div class="container">
        <ul class="list-nav-footer">
           <li class="item-nav-footer">
            <ul class="list-item-footer">
                <li class="item-about"><a class="link-footer" href="">About us</a></li>
                <li class="item-collection"><a class="link-footer" href="">Our collection </a></li>
            </ul>
           </li>

           <li class="item-nav-footer">
            <ul class="list-item-footer">
                <li class="item-order"><a class="link-footer" href="">Customer order</a></li>
                <li class="item-testimonials"><a class="link-footer" href="">Testimonials</a></li>
            </ul>
           </li>
        </ul>
        <h2 class="title-footer">A touch of <span class="span-footer">Ukrainian</span> culture in every embroidery</h2>
       

    </div>
</footer>