<!-- MOB MENU VYSHYVANKA -->
<div class="header-mob">
  <div class="contacts">
    <address class="header-contact">
      <a class="header-mob-cont" href="tel:+380 (68) 443-94-26"
        >+380 (68) 443-94-26</a
      >
    </address>
    <button type="button" class="header-close-btn">
      <svg class="header-btn-icon" width="36" height="36">
        <use href="./img/all-svg.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="header-mob-menu">
    <li class="header-mob-iteam">
      <a class="header-menu-mob-link" href="">About us</a>
    </li>
    <li class="header-mob-iteam">
      <a class="header-menu-mob-link" href="">Our collection </a>
    </li>
    <li class="header-mob-iteam">
      <a class="header-menu-mob-link" href="">CUSTOMER ORDER</a>
    </li>
    <li class="header-mob-iteam">
      <a class="header-menu-mob-link" href="">TEstimonials</a>
    </li>
  </ul>
</div>
