<section class="hero-container">
<div class="container">
    <div class="cont-hero">
        <div class="cont-hero-mini">

    <h1 class="hero-title">Reviving the <span>traditional</span> <span class="ukr-yellow">Ukraninian</span> artistry in
        every stitch.
    </h1>

    <div class="star-hero">
        <svg class="star-icon" width="52" height="51">
            <use href="./img/all-svg.svg#icon-star"></use>
        </svg>
        <p class="star-text">all embroidery is made by hand</p>
    </div>

    <a class="link-hero" href="#order"><button type="button" class="hero-btn">Order
        <svg class="arrow-btn" width="26" height="10">
            <use href="./img/all-svg.svg#icon-arrow"></use>
        </svg>
    </button></a>
</div>
    <div class="cont-img-icon-hero">
        <div class="img-hero">
            <picture >
                <source srcset="
                        ./img/mobile/hero-mobile.jpg 1x,
                        ./img/mobile/hero-mobile-2x.jpg 2x" media="(max-width: 767px)" width="335" height="545" />
                 <source srcset="
                        ./img/tablet/hero-tablet-1.jpg 1x,
                        ./img/tablet/hero-tablet-1-2x.jpg 2x" media="(max-width: 1279px)" width="413"
                     height="575" />
                <source srcset="
                    ./img/pc/hero-pc-1.jpg 1x,
                    ./img/pc/hero-pc-1-2x.jpg 2x" media="(min-width: 1280px)" width="392" height="545" />
                <img srcset="../img/pc/hero-pc-1-2x.jpg" src="../img/pc/hero-pc-1.jpg" alt="Kolya">
            </picture></div>
        <div class="icon-hero">
            <picture >
                <source srcset="
                     ./img/hero-icon.png 1x ,
                     ./img/hero-icon-2x.png 2x" media="(min-width: 768px) and (max-width: 1279px)" width="142" height="156" />
                <source srcset="
                     ./img/hero-icon-pc.png 1x,
                     ./img/hero-icon-pc-2x.png 2x" media="(min-width: 1280px)" width="142" height="156" />
                 <img class="hero-icon" src="../img/hero-icon.png" alt="hero-icon">
            </picture></div>
    </div>
</div>
</div>
</section>