<section id="order" class="order-section">
    <div class="order-girl">
    </div>
    <div class="order-content">
        <div class="container order-cont">

            <h2 class="order-title"><span class="your-order">Your order</span> is our priority: Personalized approach
                and quality of service</h2>
            <form class="order-form">
                <input type="text" name="username" placeholder="Enter your full name" class="form-input"
                    pattern="[A-Za-zА-Яа-яЁё]" required>
                <input type="email" name="user-email" placeholder="Enter your email" class="form-input"
                    pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
                <textarea name="comments" placeholder="Comments" class="comments"></textarea>
                <button type="submit" class="form-btn">Send
                    <svg class="order-arrow" width="26" height="10">
                        <use href="./img/all-svg.svg#icon-arrow"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="order-pattern">
            <picture class="order-waistcoat">
                <source srcset="./img/pc-bigger/order-vyshivanka.jpg 1x, 
                        ./img/pc-bigger/order-vyshivanka-2x.jpg 2x" media="(min-width: 1440px)" />
                <source srcset="./img/pc/order-vyshivanka-pc.jpg 1x, 
                        ./img/pc/order-vyshivanka-pc-2x.jpg 2x" media="(min-width: 1280px)" />
                <source srcset="./img/tablet/order-vyshivanka-tablet.jpg 1x, 
                        ./img/tablet/order-vyshivanka-tablet-2x.jpg 2x" media="(min-width: 768px)" />
                <img class="img-order" src="./img/pc-bigger/order-vyshivanka.jpg" alt="waistcoat with ornament" height="521" width="524">
            </picture>
        </div>
    </div>
</section>