<section class="order">
    <div class="order-girl"><img src="./img/pc-bigger/order-girl.jpg" alt="girl in a green embroidered shirt"></div>
<title class="order-title"><span class="your-order">Your order</span> is our priority: Personalized approach and quality of service</title>
<form>
    <input type="text" name="username" placeholder="Enter your full name" class="form-input">
    <input type="email" name="user-email" placeholder="Enter your email" class="form-input">
    <textarea name="comments" placeholder="Comments" class="comments"></textarea>
    <button type="submit" class="form-btn">Send</button>
</form>
</section>