

.about-us {
  background: #1c2225;
  background-image: url(../img/ornament-transparent.png);
  background-repeat: no-repeat;
  background-position: right -209px  bottom 18px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us div:nth-child(2) {
  margin: 0 auto;
}
.cont-about{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items:center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .our-collection {
    background-image: url(../img/ornament-transparent-2x.png);
  }
}

.about-title {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
}

.about-text {
  color: rgba(252, 249, 249, 0.4);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}

.about-text-next {
  color: rgba(252, 249, 249, 0.4);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  margin-bottom: 50px;
}

.image {
  border-radius: 4px;
}

@media screen and (min-width: 768px) {


  .about-us {
    background-position: right -176px bottom 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-title {
    font-size: 44px;
    line-height: 64px;
    letter-spacing: -1.32px;
  }

  .about-text {
    font-size: 16px;
  }

  .about-text-next {
    font-size: 16px;
  }
  .cont-about{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items:center;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    background-position: right -120px bottom 70px;
    padding-bottom:150px ;
    
  }
  .cont-about{
    display: flex;
    gap: 50px;
    align-items:center;
  }
  .cont-text-about{
    width:436px ;
  }


  .about-title {
    font-size: 44px;
    line-height: 64px;
    letter-spacing: -1.32px;
  }

  .about-text {
    font-size: 16px;
  }

  .about-text-next {
    font-size: 16px;
  }

  .about-us div:nth-child(2) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    background-position: 115% 95%;
  
  }


  .about-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -1.32px;
  }

  .about-text {
    font-size: 16px;
  }

  .about-text-next {
    font-size: 16px;
  }

  .about-us div:nth-child(2) {
    margin-left: 50px;
  }
  .image-about{
    width: 709px;

  }
  .cont-text-about{
    width:481px ;
  }
}
