.header-mob {
    background-image: url(../img/ornament-transparent.png);
    background-repeat: no-repeat;
    background-size: 340px 302px;
    background-position: center 700px;
    max-width: 274px;

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-one {
        background-image: url(../img/ornament-transparent-2x.png);
    }
}

.header-mob {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(236, 217, 121, 1);
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 40px;
    pointer-events: auto;
    opacity: 0;
    visibility: hidden;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-btn-icon {
    stroke: #1C2225;
}

.header-close-btn {
    background-color: transparent;
    width: 36px;
    height: 36px;
    display: block;
    border: none;
}

.contacts {
    display: flex;
    gap: 40px;
}


.header-contact {

    border-radius: 15px;
    border: 1px;
    border: 1px solid rgba(28, 34, 37, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mob-cont {
    color: #1C2225;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    padding: 12px 20px 12px 20px;

}


.header-menu-mob-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #1C2225;
}

.header-mob-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 187px;
    gap: 20px;
}


@media screen and (min-width: 768px) {

    .header-mob {
        max-width: 380px;
        background-image: url(../img/ornament-transparent.png);
        background-repeat: no-repeat;
        background-size: 545px 484px;
        background-position: center 600px;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-one {
            background-image: url(../img/ornament-transparent-2x.png);
        }
    }

    .header-btn-icon {
        width: 44px;
        height: 44px;
    }

    .contacts {
        display: flex;
        gap: 79px;
    }

    .header-mob-cont {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 14px 28px 14px 28px;

    }

    .header-mob {
        padding-right: 32px;
        padding-left: 32px;
    }

}