
.order-section {
    background-color: #1C2225;
}

.order-girl {
    max-width: 100%;
    height: 550px;
    background-image: url(../img/mobile/order-girl-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 90px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .order-girl {
        background-image: url(../img/mobile/order-girl-mobile-2x.jpg);
    }
}

.order-title {
    width: 335px;
    color: #FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.your-order {
    color: #ECD979;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.375;
    letter-spacing: -0.03em;
}

.form-input {
    width: 335px;
    color: #FCF9F9;
    background-color: transparent;
    padding: 14px 16px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    margin-bottom: 20px;
}

.form-input:hover,
.form-input:focus {
    border-color: rgba(252, 249, 249, 0.60);
}

.form-input::placeholder {
    color: rgba(252, 249, 249, 0.50);
    line-height: normal;
    letter-spacing: -0.02em;
}

.comments {
    width: 335px;
    height: 196px;
    color: #FCF9F9;
    background-color: transparent;
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    resize: none;
    margin-bottom: 40px;
}

.comments::placeholder {
    color: rgba(252, 249, 249, 0.50);
    line-height: normal;
    letter-spacing: -0.02em;
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 145px;
    height: 49px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: #FCF9F9;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
    border: 1px solid #ECD979;
}

.order-arrow {
    fill: #ECD979;
}

.order-pattern {
    display: none;
}

@media screen and (min-width: 768px) {

    .order-girl {
        min-height: 776px;
        background-image: url(../img/tablet/order-girl-tablet.jpg);
        margin-bottom: 100px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .order-girl {
            background-image: url(../img/tablet/order-girl-tablet-2x.jpg);
        }
    }

    .order-title {
        width: 542px;
        color: #FCF9F9;
        font-size: 44px;
        line-height: 1.32;
        margin-bottom: 40px;
        text-align: start;
    }

    .your-order {
        font-size: 44px;
        line-height: 1.32;
    }

    .form-input {
        width: 508px;
        margin-right: auto;
    }

    .comments {
        width: 508px;
    }

    .form-btn {
        padding: 14px 39px;
        width: 168px;
        height: 50px;
        font-size: 16px;
        margin: 0;
        margin-bottom: 100px;
    }

    .order-pattern {
        display: flex;
        padding-bottom: 79px;
        background-image: url(../img/ornament-transparent.png);
        background-size: 545px 484px;
        background-repeat: no-repeat;
        background-position: left -222px bottom 0;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .order-pattern {
            background-image: url(../img/ornament-transparent-2x.png);
        }
    }

    .order-waistcoat {
        display: block;
        padding-left: 98px;
        
    }

    .img-order{
        width: 638px;
    }
}
@media screen and (min-width: 1280px) {
    .order-girl {
        background-image: url(../img/pc/order-girl-pc.jpg);
        margin-bottom: 150px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .order-girl {
            background-image: url(../img/pc/order-girl-pc-2x.jpg);
        }
    }

    .order-cont {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 0;
        width: auto;
    }

    .order-form {
        display: flex;
        flex-direction: column;
        padding-right: 34px;
    }

    .form-btn {
        margin-bottom: 0;
    }

    .order-content {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
    }

    .order-pattern {
        padding-bottom: 119px;
        background-position: left -256px bottom 0;
    }

    .order-waistcoat {
        display: flex;
        padding-left: 64px;
    }
}

@media screen and (min-width: 1440px) {

    .order-girl {
        background-image: url(../img/pc-bigger/order-girl.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .order-girl {
            background-image: url(../img/pc-bigger/order-girl-2x.jpg);
        }
    }
    .order-pattern {
        background-position: left -220px bottom 0;
        padding-bottom: 119px;
    }

    .order-waistcoat {
        padding-left: 100px;
        height: 521px;
    }

    .order-content {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        justify-content: flex-end;
    }  
    .order-cont {
        margin-left: 0;
    } 
}